
<h3>Invited Talks</h3>
<ul>
<li> 
  <strong>Efficient and Resilient Algorithms for Stochastic Optimization & Reinforcement Learning</strong><br>
  <span style="font-size: smaller; color: grey;">University of Utah, 2024.</span>  
</li>
<li> 
  <strong>Bridging Practical Needs and Theoretical Analysis of Machine Learning Algorithms</strong></a><br>
  <span style="font-size: smaller; color: grey;">Mohamed bin Zayed University of Artificial Intelligence (MBZUAI), 2023.</span>  
</li>
<li> 
  <strong>Towards Understanding Reinforcement Learning from Optimization Perspectives</strong></a><br>
  <span style="font-size: smaller; color: grey;">Baidu USA, 2021.</span>  
</li>
</ul> 

<h3>Notes</h3>
<ul>
<li> 
<a href="/files/notes/Toeplitz.pdf" target="_blank">
<strong>The Solution to a Special Upper-Triangular Toeplitz System</strong></a> 
</li> 
<li> 
  <a href="/files/notes/project.pdf" target="_blank">
  <strong>Semi-Cyclic Gradient Descent Outperforms Federated Averaging with Sufficiently Small Learning Rate</strong></a>
</li> 
<li> 
  <a href="/files/notes/Actuarial.pdf" target="_blank">
  <strong>Notes on Actuarial Statistics</strong></a>
</li> 
<li> 
  <a href="/files/notes/xgboost.pdf" target="_blank">
  <strong>Introduction to XGBoost</strong></a> 
</li> 
</ul> 