
<h3>Invited Talks</h3>
<ul>
<li> 
  <strong>Efficient and Resilient Algorithms for Stochastic Optimization & Reinforcement Learning</strong><br>
  <span style="font-size: smaller; color: grey;">University of Utah, 2024.</span>  
</li>
<li> 
  <strong>Bridging Practical Needs and Theoretical Analysis of Machine Learning Algorithms</strong></a><br>
  <span style="font-size: smaller; color: grey;">Mohamed bin Zayed University of Artificial Intelligence (MBZUAI), 2023.</span>  
</li>
<li> 
  <strong>Towards Understanding Reinforcement Learning from Optimization Perspectives</strong></a><br>
  <span style="font-size: smaller; color: grey;">Baidu USA, 2021.</span>  
</li>
</ul> 

<h3>Notes</h3>
<ul>
<li> 
<a href="/files/notes/Toeplitz.pdf" class="bio" target="_blank">
<strong>The Solution to a Special Upper-Triangular Toeplitz System</strong></a> <br>
<span style="font-size: smaller; color: grey;">A side result in my research on robust V-learning.</span>  
</li> 
<li> 
<a href="/files/notes/freedman.pdf" class="bio" target="_blank">
<strong>Freedmans Inequality for Arbitrary Dependent Data</strong></a> <br>
<span style="font-size: smaller; color: grey;">A side result in my research on dependent data optimization.</span>  
</li> 
<li> 
  <a href="/files/notes/project.pdf" class="bio" target="_blank">
  <strong>Semi-Cyclic Gradient Descent Outperforms Federated Averaging with Sufficiently Small Learning Rate</strong></a><br>
  <span style="font-size: smaller; color: grey;">Course Project.</span>  
</li> 
<li> 
  <a href="/files/notes/Finance.pdf" class="bio" target="_blank">
  <strong>Notes on Financial Modeling</strong></a> <br>
  <span style="font-size: smaller; color: grey;">Course Notes.</span>  
</li> 
<li> 
  <a href="/files/notes/RL.pdf" class="bio" target="_blank">
  <strong>Notes on Reinforcement Learning</strong></a> <br>
  <span style="font-size: smaller; color: grey;">Course Notes.</span>  
</li> 
<li> 
  <a href="/files/notes/Stat.pdf" class="bio" target="_blank">
  <strong>Statistical Theory Notes</strong></a> <br>
  <span style="font-size: smaller; color: grey;">Course Notes.</span>  
</li> 
<li> 
  <a href="/files/notes/anosovnote.pdf" class="bio" target="_blank">
  <strong>Notes on Dynamical Systems</strong></a> <br>
  <span style="font-size: smaller; color: grey;">Course Notes.</span>  
</li> 

<li> 
  <a href="/files/talks/Defense_Slides.pdf" class="bio" target="_blank">
  <strong>Defense Slides: Efficient and Resilient Algorithms for
    Stochastic Optimization \& Reinforcement Learning</strong></a> <br>
  <span style="font-size: smaller; color: grey;">PhD Defense Slides.</span>  
  </li> 
</ul> 


<h3>Courses Slides</h3>
<ul>
  <li> 
    <a href="/files/notes/Actuarial.pdf" class="bio" target="_blank">
    <strong>Notes on Actuarial Statistics</strong></a><br>
    <span style="font-size: smaller; color: grey;">TA Course Slides. PSTAT 172A.</span>  
  </li> 
<li> 
  <a href="/files/slides/Survival_Analysis_Lab.pdf" class="bio" target="_blank">
  <strong>Survival Analysis</strong></a> <br>
  <span style="font-size: smaller; color: grey;">TA Course Slides. PSTAT 175.</span>  
</li> 
<li> 
  <a href="/files/notes/xgboost.pdf" class="bio" target="_blank">
  <strong>Introduction to XGBoost</strong></a> <br>
  <span style="font-size: smaller; color: grey;">Undergraduate Course Slides.</span>  
</li> 
</ul> 