<ul> 
    <li>
      <strong>Teaching Assistant (ECE 3500: Fundamentals of Signals and Systems)</strong><br>
      <span style="font-size: smaller; color: grey;">University of Utah</span><br>
      <span style="font-size: smaller; color: grey;">2020 - 2021</span>
      <br>Instructed the lab section, assisted with course materials, and graded assignments.
    </li>
    <li>
      <strong>Teaching Assistant (Multiple Statistics and Data Science Courses)</strong><br>
      <span style="font-size: smaller; color: grey;">University of California, Santa Barbara</span><br>
      <span style="font-size: smaller; color: grey;">2018 - 2019</span>
      <br>Instructed sections/labs of statistics and data science courses during the Master program. Courses include:
      <ul>
        <li>PSTAT 5A: Statistics</li>
        <li>PSTAT 5LS: Statistics for Life Science</li>
        <li>PSTAT 109: Statistics for Economics</li>
        <li>PSTAT 172A: Actuarial Statistics</li>
        <li>PSTAT 175: Survival Analysis</li>
      </ul> 
    </li> 
  </ul> 